<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% include ./templates/menu%>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Hi Alex!!!</p>
    <p>You have visited my site <%= incrdsd %> times.</p>

  </body>
</html>
